html, body {
    height: 100%;
    margin: 0px;
}

/* START CANVAS SECTION */

.label {
    color: white;
}

#canvasContainer {
    position: relative;
    height: 100%;
}

#UIContainer {
    position: absolute;
    margin: 0;
    z-index: 2;
}

#canvas{
    position: absolute;
    margin: 0;
}

#labelCanvas{
    position: absolute;
    margin: 0;
    pointer-events: none;
}

#loaderContainer {
    position: absolute;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition:opacity 1000ms;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* END CANVAS SECTION */

/* START CANVAS UI SECTION */

#crossSectionSlider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}

/* END CANVAS UI SECTION */

/* START LOADER SECTION */

.loader {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: calc(50% - 2.5rem);
    top: calc(50% - 2.5rem);

}
.loader:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    margin: -1em;
    border-radius: 50%;
    border: 1em solid #fff;
    border-color: #fff transparent;
    animation: loader 1.2s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* END LOADER SECTION */