html, body {
    height: 100%;
    margin: 0px;
}

.label {
    color: white;
}

#canvasContainer {
    position: relative;
    height: 100%;
}


#canvasContainer canvas, div {
    position: absolute;
}

#canvasContainer div {
    pointer-events: none;
}

#loader {
    background-color: red;
    width: 100%;
    height: 100%;
    z-index: -1;
}