html, body {
    height: 100%;
    margin: 0px;
}

.label {
    color: white;
}

#canvasContainer {
    position: relative;
    height: 100%;
}


#canvasContainer canvas, div {
    position: absolute;
}

#canvasContainer div {
    pointer-events: none;
}